//Обнуление стилей
*{
    border: 0;
    margin: 0;
    padding: 0;
}

*,*:before,*:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav, footer, header, aside{
    display: block;
}

input::-ms-clear{
    display: none;
}

h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: 400;
}

ul li{
    list-style: none;
}

:focus,:active{
    outline: none;
}

a:focus,a:active{
    outline: none;
}
