*{
    border: 0;
    margin: 0;
    padding: 0;
}

*,*:before,*:after{
    box-sizing: border-box;
}

nav, footer, header, aside{
    display: block;
}

input::-ms-clear{
    display: none;
}

h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: 400;
}

ul li{
    list-style: none;
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
}

:focus,:active{
    outline: none;
}

a:focus,a:active{
    outline: none;
}

.wrapper{
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    height: 200px;
    background-color: #F5B91D;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
}

.logo__text{
    width: 175px;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    margin-left: 10px;
}

.header__row{
    display: flex;
    justify-content: space-between;
    height: 200px;
    align-items: center;

}

.nav__row{
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

.nav__row li{
    padding: 0 23px 0 23px;
}

.nav__row a{
    text-decoration: none;
    color: black;

}

.header__phone{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.header__basket{}

.content{

}

.offer{
    height: 741px;
}

.offer__row{
    display: flex;
    align-items: center;

}

.offer__text p:first-child{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: black;
}

.offer__text p{
    margin-bottom: 15px;
    width: 450px;
}

.offer__button a{
    text-decoration: none;
    color: black;
}

.offer__button{
    width: 250px;
    height: 50px;
    background: #EC2E2E;
    box-shadow: 0 5px 23px rgba(236, 46, 46, 0.56);
    border-radius: 23px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}

.why h2{
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 35px;
    color: black;
}
.why__row{
    display: flex;
    justify-content: space-between;
    height: 250px;
}
.item__row{
    display: flex;
}

.item__text h3{
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin-bottom: 5px;
}
.item__text p{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    width: 205px;
}

.item__text{
    margin-left: 10px;
}

.catalog__row{
    min-height: 750px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.catalog__item{
    flex: 0 1 25%;
}

.catalog h2{
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 52px;
}

.catalog__name{
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 10px 0;
    width: 290px;
}

.catalog__price{
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 10px;
}

.catalog__img{
    text-align: center;
}

.catalog__button a{
    text-decoration: none;
    color: black;
}

.catalog__button{
    background: #EC2E2E;
    box-shadow: 0 5px 23px rgba(236, 46, 46, 0.56);
    border-radius: 23px;
    font-size: 16px;
    width: 165px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 50px;
}

.reviews{
    background: rgba(253, 203, 127, 0.5);
    margin-top: 50px;
    padding: 50px 0 50px 0;
}

.reviews h2{
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
}

.reviews__row{
    min-height: 520px;
    display: flex;
    justify-content: space-between;
}

.reviews__item{
    margin-top: 70px;
}

.reviews__img{
    text-align: center;
}

.reviews__name{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 10px 0 10px 0;
}

.reviews__comment{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    width: 328px;
}

.where__row{
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.where h2{
    margin-top: 80px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;
}

.where__heading{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.where__text{
    font-size: 18px;
    line-height: 22px;
}

.icons{
    padding: 4px;
    margin-left: -4px;
}


.footer{
    background-color: black;
    height: 218px;
}

.footer__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 218px;
}

.footer .logo__text{
    width: 175px;
    font-size: 19px;
    line-height: 23px;
    color: #ffffff;
    margin-left: 10px;
}

.footer .logo__img{
    box-shadow: 0 0 7px 3px rgba(255, 255, 255, 0.25);
    border-radius: 18px;
}

.footer__text{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
}

@media(max-width: 1170px){
    .container{
        width: 100%;
    }

    .catalog__item{
        flex: 0 1 33.3%;
    }

    .catalog__price{
        line-height: 18px;
    }

    .footer__row{
        padding: 0 20px 0 20px;
    }

    .header__row{
        padding: 0 20px 0 20px;
    }

    .where__text{
        font-size: 16px;
    }

    .where__row{
        padding: 0 20px 0 20px;
    }

    .reviews__row{
        padding: 0 20px 0 20px;
    }

    .catalog__row{
        padding: 0 20px 0 20px;
        justify-content: space-around;
    }

    .catalog h2{
        padding: 0 20px 0 20px;
    }

    .why__row{
        padding: 0 20px 0 20px;
    }

    .why h2{
        padding: 0 20px 0 20px;
    }
}

